.content {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1.25rem; /* 20px */
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;

  .lamp {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .lamp {
      display: block;
    }
  }
}
