.experience-card {
  display: flex;
  width: 100%;
  padding: 40px 20px;
  gap: 20px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    background-color: rgba(22, 72, 99, 0.1);
    transform: translate(10px, -10px);

    time {
      color: #11235a;
    }

    .project {
      .position {
        color: #11235a;
      }

      .stack {
        span {
          filter: drop-shadow(0 2px 5px $primary);
        }
      }
    }
  }

  time {
    font-size: 12px;
    font-weight: bolder;
    min-width: fit-content;
    font-family: "Montserrat", sans-serif;
  }

  .project {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

    .position {
      font-size: 18px;
      font-weight: bold;

      .company {
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: grey;
      }
    }

    .info {
      font-size: 15px;
    }

    .stack {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      span {
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        background: $primary;
        border-radius: 15px;
        color: #ffffff;
        transition: filter 0.2s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.dark {
  .experience-card {
    .stack {
      span {
        background: #ffffff;
        color: $primary;
      }
    }

    &:hover {
      background-color: rgba(246, 236, 169, 0.1);

      time {
        color: #ffffff;
      }

      .project {
        .position {
          color: #ffffff;
        }

        .stack {
          span {
            filter: drop-shadow(0 2px 2px #fff);
          }
        }
      }
    }
  }
}
