.social-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    filter: drop-shadow(0px 5px 5px $primary);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(110%);
    }

    .svg-container {
      fill: $primary;
    }

    .svg-char {
      fill: #ffffff;
    }
  }

  a:first-child {
    animation: slidein 1s ease-in-out;
  }

  a:nth-child(2) {
    animation: slidein 0.7s ease-in-out;
  }

  a:last-child {
    animation: slidein 0.5s ease-in-out;
  }

  @keyframes slidein {
    from {
      transform: translateX(-200px);
    }

    to {
      transform: translateX(0%);
    }
  }
}

.dark {
  .social-wrapper {
    svg {
      cursor: pointer;
      filter: drop-shadow(0px 5px 5px #000);

      .svg-container {
        fill: #ffffff;
      }

      .svg-char {
        fill: #000000;
      }
    }
  }
}
