#about {
  padding: 0 6rem;
  min-height: 100vh;
  justify-content: space-evenly;

  P {
    text-align: justify;
    line-height: 150%;
    user-select: none;
  }

  img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    border: 1px solid #cccccc;
    cursor: pointer;
    filter: drop-shadow(0px 5px 20px #ffc436);

    &:hover {
      transform: scale(110%);
    }
  }
  @media screen and ((max-width: 600px) or (max-height: 600px)) {
    padding: 0 2rem;

    img {
      width: 250px;
    }
  }
}

.dark {
  #about {
    p {
      color: #cccccc;
      b {
        color: #ffffff;
      }
    }

    img {
      filter: drop-shadow(0px 5px 15px #ffffff);
    }
  }
}
